/* ----------------------------------------------------------------------------
 * Main Stylesheet file.
 * ------------------------------------------------------------------------- */

$white: #fefefe;
$black: #0a0a0a;

@import url('https://fonts.googleapis.com/css2?family=PT+Serif:ital,wght@0,400;0,700;1,400;1,700&family=Poppins:ital,wght@0,400;0,700;1,400;1,700&display=swap');

* {
	font-family: 'Poppins', sans-serif;
	box-sizing: border-box;
	overflow-wrap: break-word;
}

html, body {
	font-family: 'Poppins', sans-serif;
	max-width: 100vw;
	overflow-x: hidden;
}

.comment-form-comment label {
	display: block;
}

#masthead {
	position: relative;
	z-index: 1;
}

#site-branding {
	position: relative;
	height: 100vh;
	background-image: url("../img/header_image.jpg");
	z-index: 0;
	&::before {
		content: '';
		position: absolute;
		height: 100%;
		width: 100%;
		background-color: $black;
		opacity: .85;
		top: 0;
		left: 0;
		z-index: 1;
	}
	.site-logo {
		position: absolute;
		top: 33%;
		left: 50%;
		transform: translate(-50%, -50%) scale(.25);
		transition: transform 300ms ease-in-out;
		z-index: 2;
		&:hover {
			transform: translate(-50%, -50%) scale(.3);
		}
	}
	.site-title {
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
		z-index: 2;
		color: $white;
		font-size: 2.75rem;
		font-family: 'PT Serif', serif;
		@media only screen and (min-width: 480px) {
		  font-size: 3.25rem;
		}
		@media only screen and (min-width: 768px) {
		  font-size: 3.5rem;
		}
		@media only screen and (min-width: 1024px) {
		  font-size: 4rem;
		}
	}
	.site-description {
		position: absolute;
		top: 55%;
		left: 50%;
		transform: translate(-50%, -50%);
		z-index: 2;
		color: $white;
		font-size: 1rem;
		font-family: 'Poppins', sans-serif;
		text-align: center;
		@media only screen and (min-width: 480px) {
		  font-size: 1.25rem;
		  top: 57.5%;
		}
		@media only screen and (min-width: 768px) {
		  font-size: 1.5rem;
		}
		@media only screen and (min-width: 1024px) {
		  font-size: 2rem;
		  top: 60%;
		}
	}
}

.scroll-indicator {
	width: 1rem;
	margin: 0 auto;
	position: absolute;
	bottom: 10%;
	left: 50%;
	transform: translateX(-50%);
	opacity: .5;
	z-index: 2;
	&::before,
	&::after {
		content: '';
		display: block;
		margin-left: auto;
		margin-right: auto;
	}
	&::before {
		width: 1rem;
		height: 1rem;
		border-radius: .664rem;
		border: .125rem solid $white;
		animation: dot 3s infinite ease-in-out;
	}
	&::after {
		width: 0.75rem;
		height: 0.75rem;
		border-right: .125rem solid $white;
		border-bottom: .125rem solid $white;
		transform: rotate(45deg);
		animation: arrow 3s infinite ease-in-out;
		animation-delay: .75s;
		opacity: .25;
	}
	& div {
		display: block;
		&::before,
		&::after {
			content: '';
			display: block;
			margin: .332rem auto;
			border-radius: .664rem;
			border: .125rem solid $white;
			animation: dot 3s infinite ease-in-out;
		}
		&::before {
			width: .5rem;
			height: .5rem;
			animation-delay: .25s;
		}
		&::after {
			width: .375rem;
			height: .375rem;
			animation-delay: .5s;
		}
	}
}

@keyframes dot {
	0% {
		transform: scale(.75);
		opacity: .25;
	}
	25% {
		transform: scale(1);
		opacity: 1;
	}
	100% {
		transform: scale(.75);
		opacity: .25;
	}
}

@keyframes arrow {
	0% {
		transform: scale(.75) rotate(45deg);
		opacity: .25;
	}
	25% {
		transform: scale(1) rotate(45deg);
		opacity: 1;
	}
	100% {
		transform: scale(.75) rotate(45deg);
		opacity: .25;
	}
}

#site-navigation {
	min-width: 100vw;
	.navbar-brand {
		font-family: 'PT Serif', serif;
	}
	.dropdown-toggle::after {
    border-top: .33rem solid;
    border-right: .33em solid transparent;
    border-left: .33em solid transparent;
	}
}

#main {
	position: relative;
	z-index: 0;
	margin-top: 1rem;
	margin-bottom: 2rem;
}

#colophon {
	color: $white;
	background-color: $black;
	padding: 1rem .25rem 2rem;
	display: flex;
	flex-flow: column nowrap;
	justify-content: center;
	align-items: center;
	align-content: center;
	#menu-secondary-menu {
		flex-flow: column nowrap;
		@media only screen and (min-width: 768px) {
			flex-flow: row wrap;
			.nav-link {
				text-align: left;
			}
		}
		.nav-link {
			color: $white;
			text-align: center;
			&:hover {
				text-decoration: underline;
			}
		}
	}
	.site-name {
		margin-top: 1rem;
		a {
			color: $white;
		}
	}
}

.home {
	#home-posts-header {
		font-family: 'Poppins', sans-serif;
		font-size: 2.5rem;
		text-align: center;
		border-bottom: 2px $black solid;
		margin-bottom: 1rem;
	}
	article {
		margin-top: 1rem;
		margin-bottom: 1rem;
		position: relative;
		.card-footer {
			padding: 1.5rem 1.25rem;
		}
		.edit-link {
			position: absolute;
			right: .5rem;
			bottom: 0;
		}
	}
	.pagination {
		justify-content: center;
		margin-top: 2rem;
		padding-top: 2rem;
		border-top: .125rem solid $black;
		border-radius: 0;
	}
}

.single, .page {
	.post-navigation .nav-links {
		display: flex;
    text-align: center;
    justify-content: space-between;
    a {
    	display: flex;
    	flex-flow: row nowrap;
    	.post-title {
    		display: none;
    	}
    }
	}
}

